/* Modal Container */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center; 
    justify-content: center; 
}

/* Modal Content (Form) */
.modal-content {
    background-color: #8A7F8D;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
    width: 80%; 
    max-width: 600px;
}

/*styling modal area*/
fieldset {
    border: none;
}

/* Close Button */
.close {
    color: white;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #D9C3C2;
    text-decoration: none;
    cursor: pointer;
}
