/* Modal styles */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
}
/* content*/
.modal-content {
    background-color: #fefefe; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 80%; 
    max-width: 500px; 
    border-radius: 5px; 
}

/*close button*/
.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

/*labels*/
.modal label {
    display: block; 
    margin-bottom: 5px; 
}

/*inputs*/
.modal input,
.modal textarea {
    width: 90%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

/*buttons*/
.modal button {
    padding: 10px 15px; 
    background: #35424a; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.modal button:hover {
    background: #3e5b68; 
}