html, body {
    height: 100%; 
    margin: 0; 
}

/*styling body*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column; 
}
/*styling header*/
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

/*styling intro area*/
.intro_area {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #35424a;
}

/*styling main*/
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


/*styling footer*/
footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    position: relative;
}

/*media query for smaller screens*/
@media (max-width: 768px) {
    .todo-container {
        flex-direction: column;
        align-items: center;
    }

    .todo-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .add-button {
        width: 100%;
    }
}

/*media query for smaller wscreens*/
@media (max-width: 480px) {
    header {
        font-size: 1.5em;
    }

    .add-button {
        font-size: 0.9em;
    }

    .todo-input {
        font-size: 0.9em;
    }
}

/*styling the buttons*/
.btn-container > button {
    background-color: #35424a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn-container > button:hover {
    background-color: #35424a;
    color: blue;
}
