/* General Styles for the Card Container */
.project_card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 16px;
    margin: 16px 0;
    max-width: 300px;
    overflow: auto;
}

/* Styles for the Task Name Area */
.Projectname-area {
    margin-bottom: 12px;
}

/* Styles for the Task Description Area */
.Projectdesc-area {
    margin-bottom: 12px;
}

/* Styles for the Buttons Container */
.project-btns-area {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

/* Styles for Individual Buttons */
.project-btns-area button {
    background-color: #8A7F8D;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 4px;
}

/*styling show all btn*/
.show_all_btn {
    margin-top: 2%;
    background-color: #8A7F8D;
    color: black;
    padding: 20px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 3%;
}

.show-btn {
    background-color: #8A7F8D;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 4px;
    font-weight: bold;
}

/* Button Hover Effects */
.project-btns-area button:hover,
.show-btn:hover, .show_all_btn:hover, .done-btn:hover {
    color: white;
}

/* Styles for Task Name and Description */
.Projectname-area h3, 
.Projectdesc-area h3 {
    margin: 0;
    font-size: 16px;
    color: black;
}
